@import 'variables';

mat-expansion-panel.nav-panel,
mat-expansion-panel.nav-panel:not(.mat-expanded) {
  margin: 0px !important;
  mat-expansion-panel {
    margin-top: 2px !important;
    margin-left: 5px !important;
  }
  mat-expansion-panel-header.nav-panel-header {
    background-color: $fe-navigation-header-color;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    max-height: 33px !important;
    &:hover,
    &:focus,
    &:not([aria-disabled='true']):hover {
      background-color: $fe-navigation-header-color;
    }
    mat-panel-title.nav-panel-title {
      color: white;
    }
    .mat-expansion-indicator {
      display: flex;
    }
  }
  .mat-expansion-panel-header-description,
  .mat-expansion-panel-header-title {
    margin-right: 0px !important;
    flex-direction: column !important;
  }
  .mat-expansion-panel-body{
    padding: 0px;
  }
}

ul.nav-links {
  padding: 0;
  margin: 0;
  a {
    li {
      color: black;
      cursor: pointer;
      display: block;
      font-size: 14px;
      padding: 10px 15px;
      position: relative;
      width: 100%;
    }
    &.active {
      li {
        font-weight: bold;
        background-color: $fe-navigation-link-color;
        color: white;
      }
    }
    &:hover:not(.active) {
      li {
        background-color: $fe-navigation-link-hover-color;
        font-weight: normal;
      }
    }
  }
}

.fe-nav-title {
  text-align: left !important;
}

.fe-nav-align-vertical {
  display: flex !important;
  align-items: center !important;
}
